@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
body {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden; }

#mob_topbar {
  background-color: #FA4B2A;
  padding-left: 10px;
  margin: 0px;
  height: 60px;
  padding: 0px 5px 0px 0px;
  box-shadow: 0px 1px 8px #888888; }
  #mob_topbar #menu_button {
    width: 25px;
    margin-left: 10px;
    cursor: pointer; }
  #mob_topbar #title {
    height: 23px;
    width: auto;
    margin-left: 10px;
    transition: 0.2s all linear; }
  #mob_topbar #trending_now_dropdown {
    display: none;
    height: 60px;
    margin-top: -51px;
    position: relative;
    margin-right: 75px;
    margin-left: 300px;
    background-color: white; }
    #mob_topbar #trending_now_dropdown #dropdown_content {
      font-family: "Oswald", sans-serif;
      color: #FA4B2A;
      font-size: 11px;
      font-weight: 400;
      width: 93%;
      padding: 5px 10px;
      box-sizing: border-box; }
      #mob_topbar #trending_now_dropdown #dropdown_content a {
        font-family: "Lora", serif;
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500; }
        #mob_topbar #trending_now_dropdown #dropdown_content a:hover {
          color: #FA4B2A; }
    #mob_topbar #trending_now_dropdown #down_button {
      width: 35px;
      height: 60px;
      right: 2px;
      top: 0px;
      line-height: 3.5;
      text-align: center;
      float: right;
      position: absolute;
      margin: 0px;
      background-color: #d0caca; }
      #mob_topbar #trending_now_dropdown #down_button img {
        width: 10px; }
  #mob_topbar #new_articles {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    position: absolute;
    background-color: #FA4B2A;
    width: 80px;
    height: 55px;
    float: right;
    right: 2px;
    margin-top: -60px;
    margin-bottom: 5px;
    text-align: center;
    border-left: 1px solid #FFF;
    padding-top: 12px; }
    #mob_topbar #new_articles a {
      color: white;
      text-decoration: none;
      line-height: 0.65;
      display: block; }
      #mob_topbar #new_articles a strong {
        font-family: "Fjalla One", sans-serif;
        font-size: 1.8em;
        line-height: 1;
        display: block; }
      #mob_topbar #new_articles a span {
        font-size: .55rem;
        font-style: normal;
        font-weight: bold;
        display: block;
        line-height: .5; }

.extra_div {
  display: none;
  margin-top: 50px;
  margin-left: 2%;
  width: 1024px; }
  .extra_div .first .logo {
    background-color: #F82902;
    width: 310px;
    margin-left: -10px;
    opacity: 0.9;
    float: left;
    z-index: 100;
    padding: 15px 10px; }
    .extra_div .first .logo img {
      height: 50px; }
    .extra_div .first .logo:hover {
      opacity: 1; }
  .extra_div .first #nicky {
    height: 60px;
    margin-top: 24px;
    float: left; }
  .extra_div .first .trending_now_dropdown {
    height: 60px;
    width: 475px;
    margin-top: 24px;
    position: absolute;
    border-color: #8b8787;
    margin-left: 427px;
    background-color: white; }
    .extra_div .first .trending_now_dropdown div {
      font-family: "Oswald", sans-serif;
      color: #FA4B2A;
      font-size: 11px;
      font-weight: 400;
      padding: 5px 10px 20px;
      background-color: white;
      border: 1px solid #d0caca; }
      .extra_div .first .trending_now_dropdown div a {
        font-family: "Lora", serif;
        color: black;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500; }
        .extra_div .first .trending_now_dropdown div a:hover {
          color: #FA4B2A; }
    .extra_div .first .trending_now_dropdown span {
      height: 60px;
      width: 40px;
      background-color: #eadfdf;
      position: absolute;
      float: right;
      left: 475px;
      top: 0px;
      text-align: center; }
      .extra_div .first .trending_now_dropdown span img {
        width: 14px;
        margin-top: 25px;
        opacity: 0.5; }
      .extra_div .first .trending_now_dropdown span:hover img {
        opacity: 1; }
  .extra_div .first #new_articles {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    background-color: #F82902;
    opacity: 0.9;
    width: 82px;
    height: 55px;
    margin-left: 512px;
    top: 24px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    border-left: 1px solid #FFF; }
    .extra_div .first #new_articles a {
      color: white;
      text-decoration: none;
      line-height: 1; }
      .extra_div .first #new_articles a strong {
        font-size: 27px; }
      .extra_div .first #new_articles a span {
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1; }
    .extra_div .first #new_articles:hover {
      opacity: 1; }
  .extra_div .first .connects {
    position: relative;
    float: right;
    right: 10px;
    top: -80px; }
    .extra_div .first .connects ul {
      list-style-type: none; }
      .extra_div .first .connects ul li {
        display: inline;
        opacity: 0.8;
        margin-left: 10px; }
        .extra_div .first .connects ul li img {
          width: 20px; }
        .extra_div .first .connects ul li:hover {
          opacity: 1; }
  .extra_div .menu_2nd {
    width: 1024px;
    height: 45px;
    z-index: 90;
    position: absolute;
    background-color: #000;
    top: 134px; }
    .extra_div .menu_2nd ul {
      text-transform: uppercase;
      list-style-type: none;
      margin-top: -5px;
      height: 40px;
      padding: 0px 0px;
      margin: 0px 0px; }
      .extra_div .menu_2nd ul li {
        line-height: 2;
        padding-left: 5px;
        display: inline;
        font-family: "Oswald", sans-serif;
        color: white;
        cursor: pointer;
        height: 50px;
        transition: 100ms all linear; }
        .extra_div .menu_2nd ul li img {
          width: 10px;
          opacity: 0.4; }
        .extra_div .menu_2nd ul li:hover {
          color: #FA4B2A; }
          .extra_div .menu_2nd ul li:hover img {
            opacity: 1; }
        .extra_div .menu_2nd ul li:last-child {
          float: right; }
          .extra_div .menu_2nd ul li:last-child img {
            width: 20px;
            margin-right: 20px;
            margin-top: 5px;
            opacity: 0.6; }
            .extra_div .menu_2nd ul li:last-child img:hover {
              opacity: 1; }
      .extra_div .menu_2nd ul #login {
        line-height: 3;
        height: 65px;
        background-color: #000; }
        .extra_div .menu_2nd ul #login img {
          float: left;
          opacity: 1;
          margin-left: 5px;
          margin-top: 5px;
          width: 30px; }
        .extra_div .menu_2nd ul #login span {
          font-size: 12px; }

@media (min-width: 320px) and (max-width: 599px) {
  #mob_topbar #title {
    height: 30px;
    padding-top: 15px; } }
@media (min-width: 600px) {
  #mob_topbar #title {
    padding-top: 10px;
    height: 35px; } }
@media (max-width: 319px) {
  #mob_topbar #title {
    padding-top: 20px;
    height: 25px; } }
@media (min-width: 700px) {
  #mob_topbar #trending_now_dropdown {
    display: block; }
  #mob_topbar #new_articles {
    padding-top: 5px; } }
@media (min-width: 1025px) {
  #mob_topbar {
    display: none; }

  .extra_div {
    display: block; } }
@media (min-width: 1024px) {
  .visible_sm {
    display: none !important; } }
#back {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: none; }

#hidden_menu {
  left: -250px; }

#back {
  display: none;
  z-index: 12; }

.side_menu {
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  float: left;
  z-index: 13;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  left: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms; }
  .side_menu ul {
    border-right: 3px solid #FA4B2A;
    text-transform: uppercase;
    list-style-type: none;
    z-index: 100;
    overflow-y: auto;
    margin-top: -5px;
    background-color: #000;
    width: 250px;
    padding: 0px 0px;
    margin: 0px 0px; }
    .side_menu ul li {
      line-height: 3;
      padding-left: 15px;
      background-color: #222;
      font-family: "Oswald", sans-serif;
      color: white;
      border-bottom: 1px solid #2F2F2F;
      cursor: pointer;
      height: 50px;
      border-left: 4px solid;
      transition: 100ms all linear; }
      .side_menu ul li img {
        width: 20px;
        padding-top: 5px;
        margin-right: 15px; }
      .side_menu ul li:hover {
        color: #FA4B2A; }
      .side_menu ul li:last-child {
        border-left: 0px;
        background-color: #000; }
        .side_menu ul li:last-child img {
          width: 30px;
          margin-left: 10px;
          opacity: 0.6; }
          .side_menu ul li:last-child img:hover {
            opacity: 1; }
    .side_menu ul #login {
      line-height: 4;
      height: 65px;
      border-left: 0px;
      background-color: #000; }
      .side_menu ul #login img {
        float: left;
        margin-left: 5px;
        margin-top: 12px;
        width: 35px; }
      .side_menu ul #login span {
        margin-left: 10px; }
    .side_menu ul #home {
      border-left-color: #FA4B2A; }
    .side_menu ul #longform {
      border-left-color: #8e2794; }
    .side_menu ul #reviews {
      border-left-color: #539c06; }
    .side_menu ul #video {
      border-left-color: #69261b;
      background-image: none; }
    .side_menu ul #tech {
      border-left-color: #212fed; }
    .side_menu ul #science {
      border-left-color: aqua; }
    .side_menu ul #entertainment {
      border-left-color: #F82902; }
    .side_menu ul #cars {
      border-left-color: #39e93b; }
    .side_menu ul #design {
      border-left-color: #988b1b; }
    .side_menu ul #us_world {
      border-left-color: #129890; }
    .side_menu ul #forums {
      border-left-color: #F82902; }
    .side_menu ul #search {
      border-left-color: #068eac; }
    .side_menu ul #more {
      border-left-color: #FA4B2A; }

.notifsm {
  width: 250px;
  background-color: white;
  top: 0;
  float: right;
  z-index: 13;
  position: fixed;
  overflow: scroll;
  height: 100%;
  right: -250px;
  transition-property: transform, left, right;
  transition-delay: 0s, 0s, 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  bottom: 0; }
  .notifsm ul {
    z-index: 5;
    margin-top: 0px;
    border-left: 2px solid #FA4B2A; }
    .notifsm ul li {
      list-style: none;
      padding: 10px;
      margin-left: -30px;
      font-size: .8rem; }
      .notifsm ul li .date {
        display: block;
        width: 100px;
        color: white;
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: center;
        font-size: .8rem;
        text-transform: uppercase;
        padding: 2px 0px;
        border-radius: 2px;
        background-color: #FA4B2A; }
      .notifsm ul li a {
        color: black;
        font-family: "Droid Serif", serif;
        font-weight: 300;
        text-decoration: none; }
        .notifsm ul li a:hover {
          color: #FA4B2A; }
    .notifsm ul .inactive {
      font-family: "Slabo 27px", serif;
      font-size: 13px;
      font-weight: 400; }

.inactive {
  color: #4b433e; }

.contents {
  position: relative;
  margin-left: -10px;
  margin-right: -20px;
  max-width: 1024px; }

@media (min-width: 1024px) {
  .contents {
    margin-top: 63px;
    margin-left: 2%; } }
@media (min-width: 700px) {
  .contents .photos {
    display: flex; }
    .contents .photos #first_div {
      width: 80%; } }
.byline {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .75rem;
  font-style: normal;
  color: #FFF;
  position: relative;
  font-weight: 300;
  margin: .25rem 0 0; }

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

.p-comment-count {
  font-family: ff-din-web-condensed,Helvetica,sans-serif;
  font-size: .9rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  min-width: 25px;
  padding: .4rem .2rem .2rem;
  -webkit-font-smoothing: antialiased;
  line-height: .7;
  position: relative;
  float: right;
  right: 20%;
  opacity: 1 !important;
  position: absolute;
  z-index: 1; }

.p-comment-count:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: black;
  border-width: 5px 7px 0 0;
  position: absolute;
  top: 100%;
  right: 0; }

.heat3 {
  background-color: #4a8813 !important;
  color: white !important;
  opacity: 1 !important; }

.post11 {
  min-height: 175px;
  display: block;
  position: relative;
  padding: 1rem;
  cursor: pointer; }
  .post11:hover .cntnt:after {
    opacity: 0.9; }
  .post11 h2 {
    font-family: Adelle,Georgia,serif;
    font-weight: 400;
    line-height: 1.2;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold; }

.cntnt {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5) inset;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .cntnt:after {
    opacity: .7;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .cntnt:before {
    opacity: .5; }

#cntnt2 {
  background-image: url("../img/mili.jpg"); }
  #cntnt2:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #a83279);
    background-image: -moz-linear-gradient(135deg, #292484, #a83279);
    background-image: -o-linear-gradient(135deg, #292484, #a83279);
    background-image: linear-gradient(135deg, #292484, #a83279); }

#cntnt1 {
  background-image: url("../img/google_logo.jpg"); }
  #cntnt1:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #292484, #dc4225);
    background-image: -moz-linear-gradient(135deg, #292484, #dc4225);
    background-image: -o-linear-gradient(135deg, #292484, #dc4225);
    background-image: linear-gradient(135deg, #292484, #dc4225); }

#cntnt3 {
  background-image: url("../img/lenovo.jpg"); }
  #cntnt3:after {
    background-color: #292484;
    background-image: -webkit-linear-gradient(135deg, #002f4b, #417711);
    background-image: -moz-linear-gradient(135deg, #002f4b, #417711);
    background-image: -o-linear-gradient(135deg, #002f4b, #417711);
    background-image: linear-gradient(135deg, #002f4b, #417711); }

#cntnt4 {
  background-image: url("../img/brother.png"); }
  #cntnt4:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -moz-linear-gradient(135deg, #d38312, #002f4b);
    background-image: -o-linear-gradient(135deg, #d38312, #002f4b);
    background-image: linear-gradient(135deg, #d38312, #002f4b); }

#cntnt5 {
  background-image: url("../img/ben-lede.jpg"); }
  #cntnt5:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, rgba(212, 19, 48, 0.77), #002f4b);
    background-image: -moz-linear-gradient(135deg, rgba(212, 19, 48, 0.77), #002f4b);
    background-image: -o-linear-gradient(135deg, rgba(212, 19, 48, 0.77), #002f4b);
    background-image: linear-gradient(135deg, rgba(212, 19, 48, 0.77), #002f4b); }

#cntnt6 {
  background-image: url("../img/mario.jpg"); }
  #cntnt6:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #d38312, green);
    background-image: -moz-linear-gradient(135deg, #d38312, green);
    background-image: -o-linear-gradient(135deg, #d38312, green);
    background-image: linear-gradient(135deg, #d38312, green); }

#video {
  background-image: url("../img/moto.png");
  display: block; }
  #video:after {
    background-color: #d38312;
    background-image: -webkit-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -moz-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: -o-linear-gradient(135deg, #dc4225, #002f4b);
    background-image: linear-gradient(135deg, #dc4225, #002f4b); }
  #video a:before {
    transition: ease all .5s;
    border-radius: 40px;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    opacity: .5; }
  #video a:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 10px 0 10px 13.33333px;
    -moz-transform: scale(0.9999);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -2px;
    z-index: 2;
    opacity: .8; }

html {
  font-family: sans-serif;
  line-height: 1.4; }

.row {
  transform: translate3d(0, 0, 0);
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 175px;
  font-size: 0; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row .post11 {
    height: 175px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    white-space: normal; }
  .row h2 {
    font-size: 1.2em; }

.post {
  font-size: 1rem;
  white-space: normal;
  height: 175px; }

.tagyellow {
  background-color: #FFD800 !important;
  color: #222 !important; }

.video1 {
  background-color: black; }
  .video1 .videopost {
    min-height: 250px; }
  .video1 .vlogo {
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding: 20px; }
  .video1 .heading {
    color: white;
    display: inline;
    width: 100%;
    padding-top: 5px;
    font-size: .8rem;
    font-family: "Pathway Gothic One",sans-serif; }
    .video1 .heading a {
      color: #FA4B2A;
      text-decoration: none; }
      .video1 .heading a:hover {
        text-decoration: underline;
        color: #FA4B2A;
        cursor: pointer; }

.videobar {
  display: flex; }

.sub_videos .each li {
  display: flex;
  list-style: none;
  margin-left: -27px;
  margin-top: -17px;
  border-bottom: 1px solid black;
  background-color: #373837; }
  .sub_videos .each li:hover {
    background-color: #3b3a3a;
    cursor: pointer; }
    .sub_videos .each li:hover h4 {
      color: #FA4B2A;
      cursor: pointer; }
  .sub_videos .each li img {
    height: 82px;
    width: 125px;
    display: inline-flex; }
  .sub_videos .each li h4 {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 200;
    padding: 0px;
    margin-left: -20px;
    font-family: "Slabo 27px", serif; }
  .sub_videos .each li a:before {
    transition: ease all .5s;
    border-radius: 40px;
    border: 2px solid;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: static;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    margin-left: -200%;
    margin-top: 50%;
    z-index: 2;
    width: 40px;
    height: 40px;
    opacity: .5; }
  .sub_videos .each li a:after {
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 10px 0 10px 13.33333px;
    -moz-transform: scale(0.9999);
    content: '';
    position: static;
    top: 50%;
    left: 50%;
    margin-top: -70%;
    margin-left: -160%;
    z-index: 2;
    opacity: .8; }

@media (min-width: 700px) {
  .contents .video1 {
    display: flex;
    flex-direction: row; }
    .contents .video1 .vid {
      width: 60%; }
    .contents .video1 .sub_videos {
      display: flex;
      width: 41%;
      height: 282px;
      overflow-y: scroll;
      margin-left: -13px;
      margin-top: 70px;
      flex-direction: column; }
    .contents .video1 .see_more {
      display: none; } }
.see_more {
  padding-top: 5px;
  text-align: center;
  font-family: "Pathway Gothic One",sans-serif;
  color: white;
  line-height: 2;
  font-weight: 600;
  font-size: 20px; }
  .see_more a {
    color: #FA4B2A;
    text-decoration: none; }
  .see_more:hover {
    color: #FA4B2A;
    text-decoration: underline; }

.news ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 10px; }
  .news ul li {
    border-bottom: 1px solid #d0caca;
    margin: -10px 20px 10px 20px;
    height: 80px;
    color: #444;
    padding-bottom: 5px; }
    .news ul li img {
      display: table-cell;
      vertical-align: top;
      padding-right: 0.5rem;
      width: 80px;
      float: left; }
    .news ul li h3 {
      margin-left: 100px;
      letter-spacing: 1px;
      margin-bottom: 8px;
      font-weight: 500;
      font-family: "PT Serif", serif; }
    .news ul li h6 {
      margin-top: 0px;
      margin-left: 100px;
      font-family: sans-serif;
      font-weight: 200; }
      .news ul li h6 strong {
        font-weight: bold; }
    .news ul li p {
      display: none;
      font-family: sans-serif;
      font-size: 13px; }

@media (min-width: 600px) {
  .news ul {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll; }
    .news ul li {
      height: auto;
      width: 48%;
      display: flex;
      border-right: 1px solid #d0caca;
      flex-direction: column;
      position: relative;
      flex-wrap: nowrap;
      margin: 0px 0px;
      padding: 5px 5px; }
      .news ul li img {
        width: 200px;
        margin-top: 80px;
        margin-left: 10%;
        position: static; }
      .news ul li h3 {
        margin-left: 5px;
        position: absolute;
        margin-top: -280px; }
      .news ul li h6 {
        margin-left: 5px;
        position: relative;
        top: -220px; }
      .news ul li p {
        display: block; } }
@media (min-width: 1024px) {
  .news ul li {
    width: 32%; } }
#from_re {
  margin: 20px;
  font-family: "Pathway Gothic One",sans-serif; }
  #from_re svg {
    margin-left: 10px;
    width: 100px; }

.see_all_news {
  padding: 10px;
  text-align: center;
  font-family: "Pathway Gothic One",sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #FA4B2A;
  cursor: pointer; }
  .see_all_news:hover {
    text-decoration: underline; }

.back_to_top {
  padding: 10px;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  font-family: "Pathway Gothic One",sans-serif;
  background-color: #444;
  color: #fff;
  cursor: pointer; }

.page_footer {
  position: absolute;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: #999;
  background-color: black;
  font-family: 'Andada', serif; }
  .page_footer a {
    box-sizing: border-box;
    color: #999;
    text-decoration: none; }
    .page_footer a:hover {
      color: #fff; }
  .page_footer ul {
    list-style-type: none; }
    .page_footer ul li {
      margin-top: 5px; }
  .page_footer .search {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 1.5em;
    text-align: center; }
    .page_footer .search input {
      font-size: 1em;
      width: 90%;
      padding: 1.1em; }
  .page_footer .sections {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding-left: 5%; }
  .page_footer .basics {
    box-sizing: border-box;
    width: 50%;
    float: left; }
  .page_footer .foot-logo {
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    padding-top: 15px; }
    .page_footer .foot-logo .vox-logo {
      height: 50px;
      width: 154px; }
    .page_footer .foot-logo p {
      font-size: .9em;
      color: #fff; }
      .page_footer .foot-logo p a {
        color: #fa4b2a; }
        .page_footer .foot-logo p a:hover {
          text-decoration: underline; }
  .page_footer .connects {
    display: none;
    float: left;
    width: 33%;
    box-sizing: border-box; }
  .page_footer .vox_media div {
    position: relative;
    bottom: 10px;
    margin-left: 20%;
    margin-top: 500px; }
    .page_footer .vox_media div img {
      width: 200px; }
  .page_footer .vox_media p {
    margin-left: 10%; }
    .page_footer .vox_media p a {
      color: #FA4B2A;
      opacity: 0.7; }
      .page_footer .vox_media p a:hover {
        opacity: 1;
        text-decoration: underline; }

@media (min-width: 500px) {
  .page_footer .connects {
    display: block; }
  .page_footer .connects, .page_footer .sections, .page_footer .basics {
    width: 33%; } }
@media (min-width: 1024px) {
  .page_footer {
    margin-left: 21px; } }

/*# sourceMappingURL=styles.css.map */
